.container {
     background-color: #278fcc;
     text-align: center;
     padding: 1.4rem 0;
     margin-top: 2rem;
}

.name {
     color: #fff;
     text-decoration: none;
     font-weight: 500;
     font-size: 1.1rem;
     margin: 0;
     padding: 0;
}

.name:hover {
     color: #dddddd;
}

.pra {
     margin: 0;
     padding: 0;
}